body {
    margin: 0;
    background-image: linear-gradient(180deg, #FF2929 0%, #000000 100%);
    width: 320px;
    height: 568px;
}

/* Estilização tela de login */
#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
}

header {
    margin-top: 17px;
    display: flex;
    justify-content: center;
    gap: 11px;
}

header h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: #FFFFFF;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 11px;
    margin-top: 11px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    width: 48px;
    height: 13px;
    color: #FFFFFF;
}

.form-group h5 {
    margin: 0;
    margin-top: 11px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #FFFFFF;
}

.form-group input {
    width: 236px;
    height: 35px;
    background: #000000;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 0;
    padding-left: 16px;
}

.form-group input:focus {
    outline: none;
}

#btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#btn button {
    margin-top: 34px;
    width: 150px;
    height: 35px;
    background: #FF2929;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    color: white;
}

#btn button:hover {
    background: #c41f1f;
}

#btn h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #FFFFFF;
}

::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #FFFFFF;
}

/* Estilização ficha de cadastro */
#cadastro {
    display: none;
    flex-direction: column;
   
}

#cadastro header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6.25px;
    margin-top: 17px;
}

#logo {
    width: 36.36px;
    height: 36.36px;
}

#cadastro header h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: white;
    margin: 0;
}

/* Estilização formulário de cadastro */
#ficha {
    margin-top: 30.64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.forms-groups {
    position: relative;
    margin-bottom: 20px;
}

.input-field {
    width: 257px;
    margin-bottom: 11px;
    padding-left: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 12px;
    color: #FFFFFF;
}

.input-label {
    position: absolute;
    top: 10px;
    left: 10px;
    pointer-events: none;
    transition: all 0.3s ease;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: white;
    margin-bottom: 11px;
}

.forms-groups.active .input-label {
    top: -20px;
    color: white;
}

.input-underline {
    position: absolute;
    bottom: 0;
    left: 10px;
    width: 257px;
    height: 1px;
    background-color: white;
}

#ficha button {
    width: 150px;
    height: 35px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    border: none;
    color: #FFFFFF;
    background: #FF2929;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    cursor: pointer;
}

#ficha h5 {
    margin: 0;
    margin-top: 11px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #FFFFFF;
}

.hidden {
    display: none;
}

.slide-in {
    animation: slideIn 0.5s forwards;
}

.slide-out {
    animation: slideOut 0.5s forwards;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

/* Estilização home */
#home {
    display: none;
    flex-direction: column;
}
#home header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 137px;
}

#perfil {
    display: flex;
    align-items: center;
    margin-top: 23px;
} 

#perfil h1 {
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}

#sair {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 27px;
}

#sair h5 {
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    margin-left: 6px;
    color: #FFFFFF;
}

#home main {
    margin-left: 37px;
    margin-top: 57px;
    width: 248px;
    height: 144px;
    background: black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#dtReceber {
    padding-top: 13px;
}

#dtReceber h2 {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    margin-left: 9px;
    color: #FFFFFF;
}

#vlReceber {
    display: flex;
    margin-left: 9px;
    gap: 75px;
    margin-top: 7px;
}

#vlReceber h1 {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;

}

#vlReceber button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #FFFFFF;
    width: 76px;
    height: 24px;
    border: none;
    background: #FF2929;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 500px;
}

#dtGastos {
    margin-top: 18px;
}
#dtGastos h2 {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    margin-left: 9px;
    color: #FFFFFF;
}

#vlGastos {
    display: flex;
    margin-left: 9px;
    gap: 75px;
    margin-top: 7px;
}

#vlGastos h1 {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;

}

#vlGastos button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #FFFFFF;
    width: 76px;
    height: 24px;
    border: none;
    background: #FF2929;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 500px;
}

#btnFooter {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 62px;
}

#btnFooter button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #FFFFFF;
    width: 112px;
    height: 36px;
    border: none;
    background: #FF2929;
    border-radius: 10px;
}

#logoFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
#lg {
    display: flex;
    align-items: center;
    gap: 11px;
}

#lg h1{
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;

    color: #FFFFFF;

}

#slogan p {
    margin: 0;
    margin-top: 11px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #FFFFFF;
}
